    @pressstart2p {
    font-family: pressstart2p;
    src: url(PressStart2P-Regular.ttf);
}

body {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 40px ;
    background-color: rgb(255, 255, 255);
    background-size: 50%;
    margin:5%;
    font-family: 'pressstart2p';}
    .text, .text1, .text2, .text3, .text4, .text5, .text6, .text7,
     .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17 {
    font-weight: 300;
     }



    .photo{
    position: absolute;
    width:60%;
    left: 50%;
    transform: translate(-50%, -50%);}
    .text 
    {position: absolute;
    top: 600px;
    left: 5%;
    font-size: 25px;
    width: 40%;
    color: black;
    text-align:end;
    text-align: left;
    font-family: 'pressstart2p';}
     .text1 {
    position: absolute;
    top: 1200px;
    right: 5%;
    font-size: 25px;
    width: 40%;
    color: black;
    text-align:end;
    text-align:right;
    font-family: 'pressstart2p';} 

    #circle2 {
        position: absolute;
        left: 50%;
        top: 160%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
        margin:2%;}
     #circle3 {
    position: absolute;
    left: 50%;
    top: 180%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin:2%;}
     #circle4 {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin:2%}
     #circle5 {
    position: absolute;
    left: 50%;
    top: 220%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    margin:2%;}
     .text5 {   
    position:absolute;
    left: 50%;
    top: 148%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
     .text3 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 150%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
     .text4 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 154%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text6 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 168%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text7 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 170%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text8 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 174%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text9 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 188%;
    font-size: 20px; 
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text10 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 190%;
    font-size: 30px; 
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text11 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 194%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text12 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 208%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
    .text13 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 210%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
     .text14 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 214%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'pressstart2p';
    margin:1%;} 
     .text16 {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 250%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    padding-bottom: 50px;
    font-family: 'pressstart2p';} 
    .text17 {
       position:fixed;
       display: block;
       top: 2%;
       left: 2%;
       font-size: 30px;
       color: rgba(0, 0, 0, 0.80);
       ;
       text-align: center;
       font-family: 'pressstart2p';} 
    .heading {
       position: fixed;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       display:block;
       top:4%;
       color: rgba(0, 0, 0, 0.80);
       font-size: 40px;
       z-index: 999;
        font-family: 'pressstart2p';
       }
    
    @media screen and (max-width: 900px){ 
      body {width:50%;
    margin-left: 95px;
    margin-right: 18px;
    padding-top: 100px;
    padding-left:10px;}
    .text, .text1, .text2 
    { font-size: 10px;}
    .text2 { 
        padding-left:10px;}
    #circle1, #circle2, #circle3, #circle4, #circle5 
    {margin-left: 0px;}
    .text3, .text4, .text5, .text6, .text7,
     .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16 
     {margin-left: 0px;
        font-size: 0.5rem;}
        .text {
            top:300px;}
        .text1 {
            top:900px;}

    .text17, .heading {font-size: 10px;}
    .heading {
    padding-left: 20%;
    padding-right: 20%;
    }
        .photo{
            top:150px;}
    }
    @media screen and (min-width: 900px){ 
        body {width:100%;
        margin-left: 120px;
        margin-right: 18px;}
        .text, .text1 { 
        font-size: 15px;
        padding-top: 300px;}
        .text2 { 
            font-size: 15px;
            padding-top: 400px; 
        margin-left: -160px; 
        margin-right: 160px;
        }
        #circle1, #circle2, #circle3, #circle4, #circle5 {
            width: 60px;
            height: 60px;
            margin-left: 0px;    }
         .text3, .text4, .text5, .text6, .text7,
     .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17 {
         margin-left: 0px;}
         .text17, .heading {font-size: 30px;}
        .photo { position: absolute;
                 width:25%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 top:600px;}  
        }
