* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;}
    
 @face-font {
    font-family: pressstart;
    src: url('PressStart2P-Regular.ttf');

    body {
    font-family: 'pressstart';
    background-color:rgba(0, 0, 0, 0.801);
    width:100%;
    min-height: 100vh;
    margin:0%;
    padding:0%;}

 
    .back {
        position:fixed;
        top: 2%;
        left: 2%;
        font-size: 30px;
        transform: translate(-5%, -5%);
        color: #fff;
        text-align: center;
        font-family: 'pressstart';
    z-index: 98;}
     .heading {
        text-align: center;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 4%;
        left:50%;
        color: white;
        font-size: 30px;
        z-index: 999;
        padding-left: 300px;
        padding-right: 300px;
        font-family: 'pressstart';}

    .text {
         position: absolute;
         text-align: center;
         position: center 0;
         transform: translate(-50%, -50%);
         left:50%;
         top: 200px;
         width: 100%;
         font-size: 25px;
        text-decotration: none;
         color: white;
       font-family: 'pressstart';}


    .text1 {
        position:absolute;
        text-align: center;
        position: center 0;
        transform: translate(-50%, -50%);
        left:50%;
        top: 240px;
        width: 90%;
        font-size: 20px;
        color: white;
        text-decotration: none;
       font-family: 'pressstart';}

    .text2 {
        position:absolute;
        text-align: center;
        position: center 0;
        transform: translate(-50%, -50%);
        left:50%;
        top: 540px;
        width: 80%;
        font-size: 20px;
        color: white;
        text-decotration: none;
       font-family: 'pressstart';}
    .text3 {
        position:absolute;
        text-align: center;
        position: center 0;
        transform: translate(-50%, -50%);
        left:50%;
        top: 570px;
        width: 90%;
        font-size: 20px;
        color: white;
        text-decotration: none;
       font-family: 'pressstart';}
    .text4 {
        position:absolute;
        text-align: center;
        position: center 0;
        transform: translate(-50%, -50%);
        left:50%;
        top: 600px;
        width: 80%;
        font-size: 20px;
        color: white;
        text-decotration: none;
       font-family: 'pressstart';}

        @media screen and (max-width: 900px)

        {

        .heading, .back {
        font-size: 16px;}

        .heading {
        padding-left: 30px;
        padding-right: 30px;}

        
        }
       
  
       
     

