* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;}
    
    body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(163, 128, 165);
    width:100%;
    min-height: 100vh;
    margin:0%;
    padding:0%;}

    section {
        padding: 300px 0;}
       
    .container1 {
        display: flex;
        flex-flow: row wrap;
        top:200px;
        position: absolute;
        margin: auto 0;
        padding-top: 200px;
        align-items: center;}

    .r1, .r12

        {width: 99%;
        padding: 5px;
        position:relative;
        opacity: 0.7;
        transition: 0.3s;}
    .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r11, .r121, .r13, .r14
      {width: 33%;
        padding: 5px;
        position:relative;
        opacity: 0.7;
        transition: 0.3s;}

    .r9, .r10     
        {width: 66%;
        padding: 5px;
        position:relative;
        opacity: 0.7;
        transition: 0.3s;}





        .r1:hover {
            opacity: 1;}
        .r2:hover {
            opacity: 1;
            }
        .r3:hover {
            opacity: 1;
            }
        .r4:hover {
            opacity: 1;
            }
        .r5:hover {
            opacity: 1;
           }
        .r6:hover {
            opacity: 1;
           }
        .r7:hover {
            opacity: 1;
            }
        .r8:hover {
            opacity: 1;
                }
        .r9:hover {
            opacity: 1;}
        .r10:hover {
            opacity: 1;}
        .r11:hover {
            opacity: 1;}
        .r12:hover {
            opacity: 1;}
        .r121:hover {
            opacity: 1;}
        .r13:hover {
            opacity: 1;}
        .r14:hover {
            opacity: 1;}






    .back {
        position:fixed;
        top: 2%;
        left: 2%;
        font-size: 30px;
        transform: translate(-5%, -5%);
        color: #fff;
        text-align: center;
    z-index: 98;}
     .heading {
        text-align: center;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 4%;
        left:50%;
        color: white;
        font-size: 30px;
        z-index: 999;
        background-color:black;
        padding-left: 300px;
        padding-right: 300px;
        border-style: solid;
        border-color: black;
        background-color:black;
        border-width: 0px;
        border-radius: 0px;}

     .text {
         position:absolute;
         text-align: center;
         position: center 0;
         transform: translate(-50%, -50%);
         left:50%;
         top: 200px;
         width: 60%;
         font-size: 16px;
         color: rgba(255, 255, 255, 0.8);}


@media screen and (max-width: 900px)

        {
            body {width:50%;}
            .container1 {
                padding-top: 10px;
            }
            .split {flex-flow: column ;
                padding: 10px;}


        .r2, .r3, .r4, .r5, .r6, .r7, .r121, .r13
       {width: 50%;
        padding: 5px;
        position:relative;}

        .r1, .r14 {
            width: 100%;
            padding: 5px;
            position:relative;
        }

        .heading, .back {
        font-size: 10px;}

        .heading {
        padding-left: 30px;
        padding-right: 30px;}

        .text {
        font-size: 10px;
         top: 160px;}
        
        }


@media screen and (min-width: 900px) {
    .text {
        padding-top: 100px;
    }}
