* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;}
    
 @font-face {
    font-family: pressstart;
    src: url('PressStart2P-Regular.ttf');
}
    body {
    font-family: 'pressstart';
    background-color:rgba(0, 0, 0, 0.801);
    width:100%;
    min-height: 100vh;
    margin:0%;
    padding:0%;}
    
    section {
    padding: 300px 0;}
   
.container1 {
    display: flex;
    flex-flow: row wrap;
    top:200px;
    position: absolute;
    margin: auto 0;
    font-family: 'pressstart';
    padding-top: 200px;
    align-items: center;}
    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16,
    .p17, .p18, .p19, .p20, .p21, .p22, .p23, .p24, .p25, .p26,
    .p27, .p28, .p29, .p30, .p31, .p32

    {width: 60%;
    top:160px;
    left:20%;
    padding: 5px;
    position:relative;
    opacity: 1;
    transition: 0.3s;
    transition: transform 0.25s ease;
    cursor: zoom-in;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
  }  

.p1:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p2:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p3:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p4:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p5:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p6:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p7:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p8:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p9:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p10:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p11:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p12:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p13:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p14:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p15:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p16:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p17:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p18:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p19:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p20:active
   { -webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}
.p21:active
    {-webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}
.p22:active
   { -webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}   
.p23:active
    {-webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}
.p24:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p25:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p26:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p27:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p28:active
   { -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}   
.p29:active
    {-webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: zoom-out;}
.p30:active
   { -webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}
.p31:active
    {-webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}
.p32:active
   { -webkit-transform: scale(1.8);
    transform: scale(1.8);
    cursor: zoom-out;}   


.back {
    position:fixed;
    top: 2%;
    left: 2%;
    font-size: 30px;
    transform: translate(-5%, -5%);
    text-decoration: none;
    color: black;
    text-align: center;
    z-index: 98;
    font-family: 'pressstart';}
.heading {
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 4%;
    left:50%;
    color: black;
    font-size: 30px;
    z-index: 999;
    font-family: 'pressstart';}

.text {
    position:absolute;
    text-align: center;
    position: center 0;
    transform: translate(-50%, -50%);
    left:50%;
    top: 200px;
    width: 60%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'pressstart';}

.text1 {
        position:absolute;
        text-align: center;
        position: center 0;
        transform: translate(-50%, -50%);
        left:50%;
        top: 490px;
        width: 60%;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'pressstart';}
    



@media screen and (max-width: 900px)

        {
        .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16,
        .p17, .p18, .p19, .p20, .p21, .p22, .p23, .p24, .p25, .p26,
        .p27, .p28, .p29, .p30, .p31, .p32
    

        {top:200px;
        width:90%;
        left:5%;}
        

        .heading, .back {
        font-size: 16px;}

        .heading {
        padding-left: 30px;
        padding-right: 30px;}

        .text {
        font-size: 10px;
         top: 230px;}

        .text1 {
            font-size: 8px;
            }
        
        }


@media screen and (min-width: 900px) {
    .text {
        padding-top: 100px;}
    }
