
body {
  background-image: url(MOVING%20TEMPLE%202.gif);
  background-color: rgb(59, 59, 59);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margine: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-decoration: none;
  }

 @font-face {
    font-family: pressstart;
    src: url('PressStart2P-Regular.ttf');
}

        .modelling, .renders, .sketching, .portfolios, .STAGE3, .STAGE2
        {position: fixed;
        text-align: center;
        width:100%;
        font-size: 18px ;
        font-weight: 10;
        font-family: 'pressstart';}
    
        .contact {
            position:absolute;
            top: 5%;
            right: 5%;
            color: #fff;
            font-size: 20px;
            font-family: 'pressstart';} 
    
        .centered {
            position: fixed;
            text-align:center;
            bottom:60%;
            color: #fff;
            font-size: calc(60px-2vm);
            width:100%;
            font-weight: 70;
            font-family: 'pressstart';}
        .bottom {
            position: fixed;
            text-align: center;
            bottom:55%;
            background-color: rgba(24, 58, 35, 0);
            color: #fff;
            font-size: calc(70px-2vm);
            width:100%;
            font-family: 'pressstart';}
        .about {
            position:absolute;
            top: 5%;
            left: 5%;
            color: #fff;
            font-size: 20px;
            font-family: 'pressstart';}  

        .STAGE3 {
            bottom:35%;
            margin:0px;
            background-color: rgba(24, 58, 35, 0);
            color: white;
            font-family: 'pressstart';} 
        .STAGE2 {
            bottom:30%;
            margin:0px;
            background-color: rgba(24, 58, 35, 0);
            color: white;
            font-family: 'pressstart';} 
        .modelling {
            bottom:25%;
            margin:0px;
            background-color: rgba(24, 58, 35, 0);
            color: white;
            font-family: 'pressstart';} 
        .renders {
            bottom:20%;
            margin:0px;
            background-color: rgba(24, 58, 35, 0);
            color: white;
            font-family: 'pressstart'; }
        .sketching {
            position: fixed;
            text-align: center;
            bottom:15%;
            margin:0px;
            background-color: rgba(24, 58, 35, 0);
            color: white;
            font-family: 'pressstart';}
    @media screen and (min-width: 900px)  {
                body { width: 100%;}
                .centered { font-size: 60px;}
                .bottom { font-size: 20px;}
                .modelling, .renders, .sketching, .portfolios, .STAGE3, .STAGE2 { font-size: 30px}}
    @media screen and (max-width: 900px) {
        
            .contact  {
            position:absolute;
            top: 4%;
            right: 10%;
            color: #fff;
            font-size: 16px;} 
            .about{
            position:absolute;
            top: 4%;
            left: 10%;
            color: #fff;
            font-size: 16px;} 
      
                body { width: 50%;}
                .centered {font-size: 30px;}
                .bottom { font-size: 16px;
                top: 47%;}
                .STAGE3 { 
                  bottom: 37%;
                .modelling, .renders, .sketching, .portfolios, .STAGE3, .STAGE2 { font-size: 24px}}
    
